/* slider */

.content .intro {
    max-width: 100%;
}

.slider {
    width: 100%;
}

.slider .slide {
    position: relative;
}

.slide .picture-container {
    width: 100%;
    position: relative;
    height: auto;
}

.slide .picture-container::before {
    content: '';
    float: left;
    padding-top: 75%;
}

.slide .picture-container img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide picture {
    height: 100%;
    width: 100%;
}

@media only screen and (min-width: 569px) {
    .slide .picture-container::before {
        padding-top: 45%;
    }
}

/* categories */

.categories {
    position: relative;
}

.categories__navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    box-sizing: border-box;
}

.categories__navigation__item {
    width: calc((100% / 3) - 1rem);
}

.categories__navigation__item img {
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 569px) {
    .categories__navigation {
        flex-wrap: nowrap;
    }
    .categories__navigation__item {
        width: auto;
    }
}

/* top products */

.top-products {
    width: 100%;
    position: relative;
    display: grid;
    padding: 0 .5rem;
    box-sizing: border-box;
    grid-gap: 1rem .5rem;
    grid-template-columns: repeat(2, 1fr);
}

.top-products__header {
    grid-column: 1 / 3;
}

.top-products__product {
    display: inline-block;
}

.top-products__product img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
}

.top-products__product__name {
    color: black;
    text-transform: capitalize;
    text-align: center;
    display: block;
}

@media only screen and (min-width: 569px) {
    .top-products {
        grid-template-columns: repeat(3, 1fr);
    }
    .top-products__header {
        grid-column: 1 / 4;
    }
}

/* season products */

.season-products {
    width: 100%;
    padding: 0 .5rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem .5rem;
}

.season-products__header {
    grid-column: 1 / 3;
}

.season-products__product {
    display: inline-block;
}

.season-products__product__picture {
    width: 100%;
}

.season-products__product__name::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) scale(.5);
    width: 0;
    height: 0;
    border-top: 1ch solid transparent;
    border-left: 1ch solid red;
    border-bottom: 1ch solid transparent;
}

.season-products__product__name-container {
    position: relative;
}

.season-products__product__name-container a {
    text-align: center;
    text-decoration: none;
}

.season-products__product__name {
    text-transform: capitalize;
}

.season-products__product img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
}

.special-season-product {
    position: relative;
    max-width: 100%;
    grid-column: 1 / 3;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #999;
}

.special-season-product picture {
    float: left;
    width: 50%;
}

.special-season-product img {
    width: 100%;
}

.special-season-product header {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.special-season-product header a {
    text-decoration: none;
}

.special-season-product header h4 {
    margin-top: 0;
}

.special-season-product p {
    margin-left: 50%;
    width: 50%;
    text-indent: 2ch;
    padding-left: 1rem;
    box-sizing: border-box;
    text-align: justify;
}

.special-season-product footer {
    padding-left: 1rem;
    margin-left: 50%;
    width: 50%;
    text-align: right;
    box-sizing: border-box;
    text-transform: capitalize;
}

.season-products__special-product__details {
    position: relative;
    margin-right: 16px;
}

.season-products__special-product__details::after {
    content: '>';
    display: inline-block;
    position: absolute;
    right: -16px;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 2px;
}

@media only screen and (min-width: 569px) {
    .season-products {
        grid-template-columns: 1fr 1fr 1fr 300px;
        grid-gap: 1rem;
    }
    .season-products__header {
        grid-column: 1 / 5;
    }
    .special-season-product {
        grid-column: 4 / 5;
    }
}

@media only screen and (min-width: 569px) and (max-width: 759px) {
    .season-products {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
    .season-products__header {
        grid-column: 1 / 4;
    }
    .special-season-product {
        grid-column: 1 / 4;
    }
}

@media only screen and (min-width: 760px) {
    .special-season-product {
        grid-row: 2 / 4;
    }
    .special-season-product p {
        width: 100%;
        margin: 0;
    }
    .special-season-product picture {
        width: 100%;
        float: none;
    }
    .special-season-product footer {
        margin: 0;
        width: 100%;
    }
}