@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');
/* pages */

@import "pages/frontpage.css";
/* vars */

:root {
  scroll-behavior: smooth;
  font-family: 'Work Sans', sans-serif;
  --mainTextColor: #000000;
  --mainTextColorLight: #666666;
}

/* default body */

a {
  display: block;
  color: inherit;
}

picture {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  max-width: 1920px;
  margin: 0 auto;
}

/* default logo styles */

.logo {
  width: 100%;
  max-width: 100%;
}

.logo-container {
  position: relative;
}

.logo a {
  display: inline-block;
}

.logo img {
  max-width: 100%;
}

/* default navigation styles */

.main-navigation__link {
  letter-spacing: -1px;
}

/* header styles */

.top-header {
  padding: .5rem 1rem;
  box-sizing: border-box;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.top-header__logo {
  width: 65px;
}

@media only screen and (min-width: 569px) {
  header.top-header {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .top-header .logo {
    width: 120px;
  }
}

@media only screen and (min-width: 569px) and (max-width: 960px) {
  .top-header .logo {
    width: 90px;
  }
}

/* header menu */

.top-header__navigation {
  position: relative;
  width: 100%;
  height: calc(100vh - (65px + 1rem));
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top-header__navigation::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  width: 20vw;
  height: 3px;
  background-color: var(--mainTextColor);
}

.top-header .main-navigation {
  font-size: 24px;
  color: var(--mainTextColor);
}

.top-header .main-navigation__link-container {
  position: relative;
  width: calc(100% - 4rem);
  margin: 0 2rem;
  border-bottom: 1px solid black;
}

.top-header .main-navigation__link-container:last-child {
  border-bottom: none;
}

.top-header .main-navigation__link {
  padding: 1rem 0;
  box-sizing: border-box;
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: inherit;
  text-decoration: none;
}

@media only screen and (min-width: 569px) {
  .top-header nav.main-navigation {
    height: auto;
    flex-direction: row;
    font-size: 20px;
  }
  .top-header .main-navigation::after {
    display: none;
  }
  .top-header .main-navigation__link-container {
    width: auto;
    display: inline-block;
    border: none;
  }
  .top-header .main-navigation__link-container::after {
    content: '';
    position: absolute;
    right: calc(-2rem - 1px);
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    width: 2px;
    background-color: var(--mainTextColorLight);
  }
  .top-header .main-navigation__link-container:last-child::after {
    display: none;
  }
}

@media only screen and (min-width: 569px) and (max-width: 960px) {
  .top-header nav.main-navigation {
    font-size: 16px;
  }
  .top-header .main-navigation__link-container {
    margin: 0 .75rem;
  }
  .top-header .main-navigation__link-container::after {
    width: 1px;
    right: calc(-1rem + 1px);
  }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
  .top-header__navigation {
    height: auto;
    padding-bottom: 3rem;
  }
}

/* header menu switch */

.top-header #menu-switcher {
  display: none;
}

.top-header #menu-switcher:checked~.top-header__menu-switch .line:nth-child(1) {
  transform: none;
}

.top-header #menu-switcher:checked~.top-header__menu-switch .line:nth-child(2) {
  opacity: 1;
}

.top-header #menu-switcher:checked~.top-header__menu-switch .line:nth-child(3) {
  transform: none;
}

.top-header #menu-switcher:checked~.top-header__navigation {
  display: none;
}

.top-header .menu-switch-container {
  position: relative;
}

.menu-switch-container label {
  cursor: pointer;
}

.top-header__menu-switch__btn {
  position: relative;
  width: 40px;
  display: block;
}

.top-header__menu-switch .line {
  width: 100%;
  height: 4px;
  background-color: black;
}

.top-header__menu-switch .line:nth-child(1) {
  transform: rotate(-45deg) translate(-15%, 200%);
}

.top-header__menu-switch .line:nth-child(2) {
  margin: 8px 0;
  opacity: 0;
}

.top-header__menu-switch .line:nth-child(3) {
  transform: rotate(45deg) translate(-20%, -280%);
}

@media only screen and (min-width: 569px) {
  .top-header__menu-switch {
    display: none;
  }
  .top-header input#menu-switcher:checked~.top-header__navigation {
    display: flex;
  }
}

/* main styles */

.content {
  position: relative;
}

.content>* {
  max-width: 960px;
  margin: 0 auto;
}

.content h3 {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

/* footer styles */

.bottom-footer {
  margin-top: 1rem;
  width: 100%;
  position: relative;
}

.bottom-footer__logo-container {
  border-bottom: 2px solid #9e9e9e;
}

.bottom-footer__logo-container a {
  width: 100px;
  margin: 0 auto;
}

.bottom-footer__logo-container img {
  width: 100%;
}

.bottom-footer .company-name {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  margin-top: 1rem;
}

.bottom-footer__additional-info__info-container span {
  display: block;
  text-align: center;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
  font-size: 14px;
}

.bottom-footer__navigation {
  text-align: center;
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 .5rem;
}

.bottom-footer .main-navigation__link-container {
  display: inline-block;
  margin: 0.35rem 0;
  margin-right: 1px;
}

.bottom-footer .main-navigation__link {
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  padding: 0 .35rem;
  box-shadow: -1px 0 0 black, 1px 0 0 black;
}

.bottom-footer__copyright-container {
  border-top: 2px solid #9e9e9e;
  padding: .5rem;
}

.bottom-footer__copyright {
  text-align: center;
  font-size: 12px;
  cursor: default;
  user-select: none;
  display: block;
  line-height: 1.2;
}

@media only screen and (min-width: 569px) {
  .bottom-footer__additional-info__info-container span {
    font-size: 16px;
  }
  .bottom-footer .main-navigation__link {
    font-size: 16px;
  }
  .bottom-footer__copyright {
    font-size: 14px;
  }
}